<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd 
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd 
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">
  <bean id="stuDao" class="cn.sxt.dao.impl.StudentDaoImpl">
  	<property name="sessionFactory" ref="sessionFactory"/>
  </bean>
  <bean id="teDao" class="cn.sxt.dao.impl.TeacherDaoImpl">
  	<property name="sessionFactory" ref="sessionFactory"/>
  </bean>
  <bean id="stuService" class="cn.sxt.service.impl.StudentServiceImpl">
  	<property name="stuDao" ref="stuDao"/>
  </bean>
  <bean id="teService" class="cn.sxt.service.impl.TeacherServiceImpl">
  	<property name="teDao" ref="teDao"/>
  </bean>
  <bean id="stuAction" class="cn.sxt.action.StudentAction" scope="prototype">
  	<property name="stuService" ref="stuService"></property>
  </bean>
  <bean id="teAction" class="cn.sxt.action.TeacherAction" scope="prototype">
  	<property name="teService" ref="teService"></property>
  </bean>
 </beans>